<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Store!
  </h1>
  <button class="btn" (click)="save()">Add items</button>
</div>
<br>
<div class="container">
  <table class="table table-hover">
    <tr>
      <th>No</th>
      <th>Item name</th>
      <th>Total item in a box</th>
      <th>Box price</th>
      <th>Number of item</th>
      <th>Number of box</th>
    </tr>
    <tr *ngFor="let item of itemArray; index as i">
      <td>{{i+1}} .</td>
      <td>{{item.name}}</td>
      <td>{{item.total}}</td>
      <td>{{item.price}}</td>
      <td><input type='number' min="0" placeholder="number of item" [(ngModel)]="item.number_of_item"></td>
      <td><input type="number" min="0" placeholder="number of box" [(ngModel)]="item.number_of_box"></td>
      <td *ngIf="!item.added;else update"><button (click)="addItem(item)">ADD</button></td>
      <ng-template #update><button (click)="updateItem(item)">UPDATE</button></ng-template>
    </tr>

  </table>

</div>
<div class="text-center">
  <button (click)="calculate()" class=" btn">Calculate</button>
</div>
<h3 class="text-center">Your Bill</h3>
<h5 class="text-center" *ngIf="calculatedPrice != -1;else noItem">Total : {{calculatedPrice?calculatedPrice : 0.0}}</h5>

<ng-template #noItem> <div class="text-center"> Sorry You didn't select anything!</div></ng-template>

<div class="text-center">
   &nbsp;
<p style="display: inline-block;" class="text-center" *ngFor="let i of pageNumbers">

  <a (click)="getItems(i+1)"> {{i + 1}} </a> &nbsp;

</p>

</div>

<router-outlet></router-outlet>
